html, body {
    margin: 0;
    padding: 0;

    background: #faf8ef;
    color: #776E65;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

body {
    position: relative;
    width: 515px;
    margin: 60px auto;
    min-height: 650px;
}

p {
    line-height: 1.65;
}

a {
    color: #776E65;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.top-button {
    position: absolute;
    background: #8f7a66;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
}

#connect-peer-button {
    top: 40px;
    right: 125px;
    width: 100px;
}

#new-game-button {
    top: 40px;
    right: 0;
    width: 110px;
}


#canvas {
    top: 120px;
    position: absolute;
    background: #bbada0;
    border-radius: 6px;
    width: 515px;
    height: 515px;
    box-sizing: border-box;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#message {
    display: none;
    position: absolute;
    background: rgba(238, 228, 218, 0.5);
    z-index: 10;

    text-align: center;
    width: 515px;
    height: 515px;

    p {
        font-size: 40px;
        font-weight: bold;
        height: 40px;
        line-height: 40px;
        margin-top: 200px;
    }

    animation: fade-in 800ms ease 200ms;
    animation-fill-mode: both;

    &.game-won {
        background: rgba(237, 194, 46, 0.5);
        color: #f9f6f2;
    }

    &.show {
        display: block;
    }
}

.popup {
    position: fixed;
}

.hidden {
    display: none;
}
