html, body {
    margin: 0;
    padding: 0;

    background: #faf8ef;
    color: #776E65;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

body {
    width: 515px;
    margin: 20px auto;
    min-height: 650px;
}

p {
    line-height: 1.65;
}


#top-pannel {
    width: 100%;
    height: 14rem;
}

#canvas {
    background: #bbada0;
    border-radius: 6px;
    width: 515px;
    height: 515px;
    box-sizing: border-box;
}

#new-game-button {
    top: 40px;
    right: 0;
    width: 110px;
}

#log {
    width: 100%;
}

.hidden {
    display: none;
}
